

<header>
  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>


  <a href="#" class="btn">Home</a>
  <a href="http://localhost:4200/ingredients" class="btn">Pairing</a>
  <a href="http://localhost:4200/wines" class="btn">Wine List</a>
  <a href="http://localhost:4200/contact" class="btn">About</a>
</header>
<div class="container">
  <h6>Don't like this pairing?</h6>
  <button type="button" class="btn btn-outline-danger" (click)="goToWineListPage()">Click Here</button>

</div>
<br>
<hr>
<br>
<body>
<div class="card">
  <div class="imgBx">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvhaDRk0EcukpOFrMIh6a4KRS6do5o7SqTJ0fbphegbU3MQ-0ZpfzqvWVI_gi9x8V9CzoO8Nrp&usqp=CAc" alt="Card image cap">
  </div>
  <div class="details">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Brand: Lurton</li>
      <li class="list-group-item">Country: France</li>
      <li class="list-group-item">State: Provence</li>
      <li class="list-group-item">Type: Rose & Blush Wine</li>
      <li class="list-group-item">Varietal: Rose Blend</li>
      <li class="list-group-item">Taste: Strawberry, Floral</li>
      <li class="list-group-item"> Body: Medium-bodied</li>
      <li class="list-group-item">Price: $17.99</li>
    </ul>
  </div>
</div>

</body>

