<header class="py-5 bg-image-full" id="headerimage"
        style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0pHpGEg8tz91O_FWzQkytaXfQjUL-qkq30w&usqp=CAU');">
  <img class="img-fluid d-block mx-auto" src="assets\YearUp Logo.png" alt="">





  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>


  <a href="#" class="btn">Home</a>
  <a href="http://localhost:4200/ingredients" class="btn">Pairing</a>
  <a href="http://localhost:4200/wines" class="btn">Wine List</a>
  <a href="http://localhost:4200/contact" class="btn">About</a>




</header>
  <!-- Header - set the background image for the header in the line below -->
<body>

</body>

