<header>
<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>


<a href="#" class="btn">Home</a>
<a href="http://localhost:4200/ingredients" class="btn">Pairing</a>
<a href="http://localhost:4200/wines" class="btn">Wine List</a>
<a href="#" class="btn">About</a>

</header>
<div class="row">
  <div class="container d-flex justify-content-center btn-center">
    <div class="col-md-6"> <button type="button" class="btn btn-out btn-primary btn-square btn-large" data-toggle="modal" data-target="#myModal">About me</button> </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-body"> <img  id="me" src="assets\Screenshot_20201123-215610_Instagram.jpg">
            <h5 class="title">Ryan Batchelor</h5>
            <p class="description">Developer</p>
            <p>I developed this app for those who love wine. My goal on creating
              "Vino Ricetta" is to get people excited to try a new wine or pair their
              favorite wine with a new recipe. Over the next few years I plan on developing
              this app in to something everyone will have fun with.</p>
            <div class="row">
            </div>
            <div class="text-center mt-30"> <a href="#" id="close-modal">Back home</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
